body {
	background-color: rgb(234, 228, 208);
}
h1 {
	text-align: center;
	font-family: Lato;
	color: rgb(80, 137, 139);
}
nav {
	text-align: center;
	font-family: Lato;

}
.center {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

